<%- include('header') %>    
        <h2>Work History</h2>
        <div>
            <h3>GRV Software LTDA. (Current Job)</h3>
            <p>
                Since January 2011 – Delphi Software Developer
            </p>
            <ul>
                <li>Debugging and troubleshooting existing projects.</li>
                <li>Analysis for new features.</li>
                <li>Software versioning and revision control system, SVN (Subversion).</li>
                <li>Develop Scripts.</li>
                <li> Release new versions to costumers.</li>
            </ul>
        </div>
<%- include('footer') %>         