        <%- include('header') %>        

        <h2>Profile</h2>
        <p>
            An enthusiastic, pro-active and self-motivated person, with good communication skills. Having a 
            technologist degree in System Analysis and Development and 10 years of experience as a Delphi 
            Software Developer.
        </p>

        <h2>Work History</h2>
        <div>
            <h3><a href="grv">GRV Software LTDA. (Current Job)</a></h3>            
        </div>

        <div>
            <h3><a href="tur">Tur Sites Assessoria Comercial LTDA</a></h3>
        </div>

        <h2>Qualification and Professional Activities</h2>
        <div>
            <ul>
                <li>English (Private school CCAA, 5 years, finished in 2007).</li>
                <li>3 months living in Canada, Toronto, ON. - 2015</li>
                <li>Delphi 7, XE7 and 10, 10.3.2, 10.4.2 (10 years).</li>
                <li>Database Microsoft SQL Server (10 years).</li>
                <li>Test Automation using Test Complete.</li>
                <li>Basic acknowledge of C# and JAVA (college experience).</li>
                <li>Enterprise Resource Planning (ERP).</li>
                <li>Scrum Methodology</li>
                <li>Certified Delphi Developer – 2014</li>
                <li>MQTT Communication protocol</li>
            </ul>
        </div>

        <h2>Languages</h2>
        <div>
            <h4>Portuguese</h4>
            <p>Native</p>
            <h4>English</h4>
            <p>Full Professional Proficiency</p>
        </div>

        <h2>Technologist Degree</h2>
        <h4>UNIP (Campinas – Brazil) System Analysis and Development 2012 – 2014</h4>
        <%- include('footer') %>        