<%- include('header') %>    
        <h2>Work History</h2>
        <div>
            <h3>Tur Sites Assessoria Comercial LTDA</h3>
            <p>
                From November, 2010 to December, 2010 – Technical Support on Websites
            </p>
            <ul>
                <li> Create and maintenance xHtml websites.</li>
            </ul>
        </div>
<%- include('footer') %> 